################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AppsCLI/v16/Server/sqlite3
/bin
/obj
/Properties/PublishProfiles
/.vs/AppsCLI
